body, input {
  font-size: 30px;
}

#timer {
  background-color: #eee;
}
#bar {
  background-color: red;
  height: 50px;
  width: 1%;
}
#bar-contaiener {
  border: 3px solid;
}
#q-a {
  display: flex;
}
